<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/box"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/box"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".addStudent" />
        <activity
            android:name=".InstructorMenu"
            android:label="@string/title_activity_instructor_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateProblemSet"
            android:label="@string/title_activity_create_problem_set"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Editor"
            android:label="@string/title_activity_create_problem_set"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Email"
            android:label="@string/title_activity_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Browsing" />
        <activity android:name=".PostAnnouncement" />
        <activity android:name=".ViewAnnouncements" />
        <activity android:name=".ViewNotes" />
        <activity android:name=".EditGrades" />
        <activity android:name=".ProblemSetList" />
        <activity android:name=".DialogMarks" />
        <activity
            android:name=".ViewMark"
            android:label="@string/title_activity_view_mark"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewProblems" />
        <activity android:name=".WhichProblemSet" />
        <activity
            android:name=".StudentFileInbox"
            android:label="@string/title_activity_student_file_inbox"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditFileContent"
            android:label="@string/title_activity_edit_file_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileView"
            android:label="@string/title_activity_file_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentGrades"
            android:label="@string/title_activity_student_grades"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>